@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h2>@ViewData["Title"]</h2>

<p>
    Somos un grupo de emprendedores que busca facilitar la forma en que nos movemos por la ciudad,
    ya sea para ir a trabajar, a estudiar o a pasear. Todas las personas tenemos gustos y necesidades
    diferentes pero una necesidad común a todas las personas es la del movimiento y el aire libre.
    Nuestro objetivo es simplificar la forma de obtener un medio de transporte acorde a las necesidades
    de cada persona y también a las del medio ambiente. Por todo esto, decidimos crear una aplicación que
    conecte a cualquier persona con el mejor equipamiento en materia ciclística ofreciendo los mejores
    accesorios para hacer la experiencia ciclística de una experiencia que vas a querer volver a repetir
    todos los días.
</p>
<br />
<p>Integrantes del grupo N°2 de la materia Programación en Nuevas Tecnologías 1</p>
<ul>
    <li>Arbio, Nicolás Gabriel</li>
    <li>Gao, Alan</li>
    <li>Quevedo, Ezequiel Andres</li>
</ul>


