@{
    ViewData["Title"] = "Sobre Nosotros";
}
<h2>@ViewData["Title"]</h2>

<p>Hola! Somos el grupo N°2 de la materia Programación en Nuevas Tecnologías 1</p>
<p>Integrantes:</p>
<ul>
    <li>Arbio, Nicolás Gabriel</li>
    <li>Gao, Alan</li>
    <li>Quevedo, Ezequiel Andres</li>
</ul>
