@{
    ViewData["Title"] = "Contacto";
}
<h2>@ViewData["Title"]</h2>

<address>
    ORT sede Almagro<br />
    Yatay, 240<br />
</address>

<address>
    <strong>Nuestros emails:</strong> <br />
    <ul>
        <li><a href="mailto:nicolasarbio@outlook.com">nicolasarbio@outlook.com</a></li>
        <li><a href="mailto:alangao0302@foxmail.com">alangao0302@foxmail.com</a></li>
        <li><a href="mailto:ezequieelquevedo@gmail.com">ezequieelquevedo@gmail.com</a></li>
    </ul>
</address>
