<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | AlkyBici.BA</title>


    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" style="background-color:black;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <style>
                    .imgNav {
                        height: 100%;
                        width: auto;
                    }
                </style>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="imgNav">
                    <img src="~/images/icon.png" style="width:30%;" />
                </a>
            </div>
            <div class="navbar-collapse collapse nav nav-pills">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-btn">Home</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="navbar-btn">Contacto</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="About" class="navbar-btn">Sobre Nosotros</a></li>
                </ul>

                <partial name="_LoginPartial.cshtml" />
                <!--<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"></div>-->
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        <br>
        @RenderBody()

        <div id="about" class="grid about btn-info">

            <div class="sobrenosotros">
                <h2>Sobre Nosotros</h2>
                <img src="~/images/ort.jpg">
            </div>

            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1641.8883161151118!2d-58.43004327003817!3d-34.60980937565264!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb6fa8d39f7cf0dc9!2sORT%20sede%20Almagro!5e0!3m2!1ses-419!2sar!4v1607295688025!5m2!1ses-419!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>

            <div class="designedBy">
                <h2>Diseñado Por:</h2>
                <h2>Arbio Nicolás</h2>
                <h2>Gao Alan</h2>
                <h2>Quevedo Ezequiel</h2>
            </div>


        </div>
        <footer id="footer" class="grid footer">
            <div id="descrip" class="descipcion">
                <h2>ALKY BICI B.A.</h2>
                <h4>Copyright &copy; Todos los derechos reservados</h4>
            </div>

            <div id="red" class="redes">
                <div class="icono">
                    <a href="https://www.facebook.com/" target="_blanck">
                        <img src="~/images/facebook.png">
                    </a>
                </div>

                <div class="icono">
                    <a href="https://www.instagram.com/" target="_blanck">
                        <img src="~/images/instagram.png">
                    </a>
                </div>

                <div class="icono">
                    <a href="https://www.youtube.com/" target="_blanck">
                        <img src="~/images/youtube.png">
                    </a>
                </div>
                <div class="icono">

                    <a href="https://www.twitter.com/" target="_blanck">
                        <img src="~/images/twitter.jpg">
                    </a>

                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
